/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #212121;
    color: #fff;
}

header {
    background-color: #1976D2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.search-bar input {
    padding: 10px;
    border: none;
    background-color: #fff;
    color: #1976D2;
}

.hero {
    background-image: url("C:\Users\91971\Downloads\HTML Final Review\HTML Final Review\resources\img1.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 3em;
    color: #fff;
}

.intro {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.intro-text {
    width: 70%;
    background-color: #FFA000;
    padding: 20px;
}

.intro-text h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.intro-text p {
    line-height: normal;
}

.intro-images {
    width: 50%;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.intro-images img {
    width: 50%;
    height: auto;
}

.intro-image2 {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.intro-image2 img {
    width: 48%;
    height: auto;
}

.form-section {
    background-color: #673AB7;
    padding: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.form-section input,
.form-section textarea {
    width: 50%;
    padding: 4px;
    margin-bottom: 15px;
    border: none;
    background-color: #fff;
}

.radio-group {
    display: flex;
    align-items: center;
}

.radio-group label {
    margin-right: 20px;
}

.form-section button {
    width: 50.7%;
    padding: 10px;
    border: none;
    background-color: #fff;
    color: #000000;
    cursor: pointer;
}

footer {
    background-color: #000;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img {
    height: 50px;
}

.footer-text {
    color: #fff;
}

.footer-text h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.footer-text p {
    line-height: 1.5;
}